@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lineat-gradient(180deg, #0000008c 0%, #0000008c 100%);
    background-image: url('../images/Fondo.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* Nav */
.nav{
    --pading-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 700;
    color: black;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

/* H Container */

.hero__container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    color: beige;
}

.hero__title{
    font-size: 3rem;
    margin-top: 180px;
}

.hero__paragraph{
    margin-bottom: 20px;
    font-size: 18px;
   margin-bottom: 50px;
}

.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 32px;
}

.nav__items{
    color: #000000;
   
}

/*about*/

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about__icon{
    width: 30px;
}
/*Barra de botones*/
.nav__itemss{
    list-style: none;
}

.nav__linkss{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

/*Footer*/


.footer{
    background-color: #2091f9;
}

.footer__container{
    color: #fff;
    gap: 1rm;
}

.nav__footer{
    text-align: center;
    font-size: 25px;
}
.footer__copys{
    color: white;
    text-align: center;
    gap: 1rm;
    font-size: 13px;
}
/*barra de busqueda*/
.box{
    position: absolute;
    top: 120%;
    left: 80%;
    transform: translate(-50%, -50%);
}

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #a50559;
    width: 60px;
    transition: all .5s;
}

input.src:hover{
    width: 500px;
    background-color: #fff;
    border-color: #8c10b3;
    box-shadow:0 0 5px #6dcff680;
    cursor:pointer;
}

.Lo_mas_vendido h2{
    border-style:solid;
    border-color: rgb(196, 148, 182);
    color: white;
    background-color: #cb9df1;
    border-radius: 5px;
    text-align: center;

}
.Lo_mas_vendido p{
    text-align: center;
}